@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.main {
  max-width: 983px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 13px 16px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 13px 16px 0px rgba(34, 60, 80, 0.2);
}

.container {
  height: 702px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.line {
  border-left: 1px solid #D8D8D8;
  height: 100%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 53px;
  margin-right: 43px;
  width: 100%;
}

.main-title {
  padding-top: 30px;
  font-size: 31px;
  font-weight: 700;
  color: #000;
}

.task-form {
  padding-top: 25px;
  padding-bottom: 32px;
}

.task-form input.task-input::-webkit-input-placeholder {
  color: #B5B5B5;
}

.task-form input.task-input:-ms-input-placeholder {
  color: #B5B5B5;
}

.task-form input.task-input::-ms-input-placeholder {
  color: #B5B5B5;
}

.task-form input.task-input::placeholder {
  color: #B5B5B5;
}

.task-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task {
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.task-input {
  color: #B5B5B5;
  font-size: 14px;
  font-weight: 400;
  background-color: #F3F3F3;
  border: 0;
  border-radius: 8px;
  width: 100%;
  outline: none;
  padding: 10px 0 10px 27px;
}

.checkbox {
  position: relative;
}

.checkbox .checkbox-input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox .checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}

.checkbox .checkbox-label {
  padding-left: 40px;
  padding-right: 18px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.checkbox .checkbox-label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #e94f4f;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox .checkbox-label::after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url("/img/check.svg") no-repeat;
  background-size: 25px 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.mark {
  font-size: 11px;
  font-weight: 400;
  padding: 5px 19px;
  background-color: #e94f4f;
  color: #fff;
  width: 115px;
  border-radius: 4px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 220px;
  margin-top: 139px;
  margin-left: 50px;
  position: relative;
}

.sidebar-btn {
  text-align: start;
  background-color: #fff;
  border: 0;
  color: #525252;
  font-size: 21px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 24px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.sidebar-btn:hover {
  color: #e94f4f;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.sidebar-btn:focus {
  color: #e94f4f;
}

.new-theme {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 0px;
  text-align: start;
  background-color: #e94f4f;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  padding: 5px 15px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #5A5A5A;
  background: #e94f4f;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */