.sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-top: 139px;
    margin-left: 50px;
    position: relative;
}

.categories {
    display: flex;
    flex-direction: column;
}

.sidebar-btn {
    text-align: start;
    background-color: #fff;
    border: 0;
    color: #525252;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 24px;
    transition: all ease 0.2s;
    word-break: break-word;

    &:hover {
        color: $pink-color;
        transition: all ease 0.2s;
    }
}

.new-cat {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    left: -45px;

    input.cat-input::placeholder {
        color: #B5B5B5;
    }
}

.cat-input {
    color: #B5B5B5;
    font-size: 14px;
    font-weight: 400;
    background-color: #F3F3F3;
    border: 0;
    border-radius: 8px;
    width: 100%;
    outline:none;
    padding: 10px 15px 10px 15px;
}

.cat-btn {
    cursor: pointer;
    text-align: start;
    background-color: $pink-color;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 0 5px;
    margin-right: 5px;
}

.active {
    color: $pink-color;
}